<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InClass04(b).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F70CAD81D38505000D77587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F70CAEC1D38505100D77587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F70CAF71D38505100D77587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
